.aboutMe{
	width:100%;
	min-height:100px;
	padding: var(--padding-generic);
	
	

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

}




.aboutMe .aboutMe_infor .infor_title{
	font-size:2rem;
	margin:5px 0;
	color:#212121;
}
.aboutMe .aboutMe_infor .infor_descripition{
	font-size:16px;
	color:#313131;
}



@media (min-width:600px){
	.aboutMe{
		padding:0 80px;
		margin-top:0px;
	}


	.aboutMe .aboutMe_photo{
		width:125px;
		height:125px;
		border-radius:50%;
		background-color:#000;
	
		border:none;
		box-shadow:none;
		
		position:static;
	
	
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom:10px;
	}
}