/**
*-----------------------------------------------------------------------
*  Description : SIDEBAR RESPONSIVE
*  Version     : 1.0.0
*-----------------------------------------------------------------------
*
* 1. ROOT SETTINGS
* 2. REST PAGE
*   2.0. REST PAGE SPECIFIC
* 3. HEADER
* 4. NAVBAR
* 5. ACTIONS
* 6.
* 7.
* 8.
*
*
*/


/*--------------------------------------------------------------------
    1. ROOT SETTINGS
*---------------------------------------------------------------------*/
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  
  --primary-color: #00d382;
  --primary-color-light: #007045;
  --white-color: #F7F6FB;
  
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  
  --z-fixed: 100;
}


/*--------------------------------------------------------------------
    2. REST PAGE 
/*---------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	outline: none;
	box-sizing: border-box;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-family: var(--secundary-font);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.3125rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}


/*--------------------------------------------------------------------
    2.0. REST PAGE SPECIFIC
/*---------------------------------------------------------------------*/

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}


@media screen and (min-width: 720px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  
  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/*--------------------------------------------------------------------
    3. HEADER
/*---------------------------------------------------------------------*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header-toggle{
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header-img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header-img img{
  width: 40px;
}

@media screen and (min-width: 720px){
  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header-img{
    width: 40px;
    height: 40px;
  }

  .header-img img{
    width: 45px;
  }
}

/*--------------------------------------------------------------------
    4. Navbar
/*---------------------------------------------------------------------*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--primary-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

@media screen and (min-width: 720px){
  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav-logo, .nav-link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav-logo{
  margin-bottom: 2rem;
}

.nav-logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav-logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav-link {
  position: relative;
  color: var(--primary-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav-link:hover {
  color: var(--white-color);
}

.nav-icon {
  font-size: 1.25rem;
}

/*--------------------------------------------------------------------
    5. Actions
/*---------------------------------------------------------------------*/

.show {
  left: 0;
}

/*Add padding body movil*/
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active {
  color: var(--white-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 720px){
  /*Show navbar desktop*/
  .show {
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}