/* hierarquia draw
   draw - é o componente que dá seguimento à linha

*/


.draw{
   width: var(--width-full);
   height: var(--height-full);

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
   
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}